<h1>New Destination</h1>

<div ng-controller="DestinationAddNew">

    <form class="form-horizontal" role="form" novalidate>
        <div class="form-group">
            <label class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control"  ng-model="destination.name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Latitude</label>
            <div class="col-sm-10">
                <input type="text" class="form-control"  ng-model="destination.lat">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Longitude</label>
            <div class="col-sm-10">
                <input type="text" class="form-control"  ng-model="destination.lon">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" ng-click="save(destination)">Save</button>
            </div>
        </div>
    </form>

</div>