<h1>Destination List</h1>

<a href="#/destination/add-new" class="btn btn-primary">Add new</a>

<br>

<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>URI</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="destination in destinations">
            <td>{{destination.id}}</td>
            <td>{{destination.name}}</td>
            <td>{{destination.lat}}</td>
            <td>{{destination.lon}}</td>
            <td>{{destination.uri}}</td>
            <td>
                <a class="btn btn-primary btn-xs" href="#/destination/{{destination.id}}">Edit</a>
                <a class="btn btn-danger btn-xs" ng-click="remove(destination.id)">Remove</a>
            </td>
        </tr>
    </tbody>
</table>