<h1>Flight List</h1>

<form class="form-inline" role="form" ng-controller="FlightList">

    <div class="row">
        <div class="col-md-2">
            <a href="#/flight/add-new" class="btn btn-primary">Add new</a>
        </div>
        <div class="col-md-9">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-10">
            <div class="row">
                <div class="col-xs-4">
                    <div class="input-group">
                        Order<br>
                        <select class="form-control" ng-model="setup.order">
                            <option value="dateOfDeparture:desc">dateOfDeparture:desc</option>
                            <option value="dateOfDeparture:asc">dateOfDeparture:asc</option>
                            <option value="name:desc">name:desc</option>
                            <option value="name:asc">name:asc</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-2">
                    Base<br>
                    <input type="text" class="form-control input" placeholder="2" ng-model="setup.base">
                </div>
                <div class="col-xs-2">
                    Offset<br>
                    <input type="text" class="form-control" placeholder="0" ng-model="setup.offset">
                </div>
                <div class="col-xs-2">
                    Currency<br>
                    <input type="text" class="form-control" placeholder="CZK" ng-model="setup.currency">
                </div>
            </div>
            <div class="row" style="margin-top: 5px;">
                <div class="col-md-12">
                    <div class="input-group">
                        <span class="input-group-addon">Filter</span>
                        <input type="text" class="form-control" placeholder="dateOfDepartureFrom=2014-04-10T02:04:46+01:00,dateOfDepartureTo=2014-08-20T10:10:46+01:00" ng-model="setup.filter">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1">
            <button type="submit" style="height: 80px;margin-top:10px;" class="btn btn-info" ng-click="applySetup(setup)">Refresh</button>
        </div>

    </div><!-- /.row -->

</form>

<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Seats</th>
        <th>Price</th>
        <th>Distance</th>
        <th>Date of Departure</th>
        <th>From ID</th>
        <th>To ID</th>
        <th>URI</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="flight in flights">
            <td>{{flight.id}}</td>
            <td>{{flight.name}}</td>
            <td>{{flight.seats}}</td>
            <td>{{flight.price}} {{setup.currency}}</td>
            <td>{{flight.distance}}</td>
            <td>{{flight.dateOfdeparture}}</td>
            <td>{{flight.from}}</td>
            <td>{{flight.to}}</td>
            <td>{{flight.uri}}</td>
            <td>
                <a class="btn btn-primary btn-xs" href="#/flight/{{flight.id}}">Edit</a>
                <a class="btn btn-danger btn-xs" ng-click="remove(flight.id)">Remove</a>
            </td>
        </tr>
    </tbody>
</table>

<ul class="pager">
    <li class="previous"><a ng-click="prev()">&larr; Prev</a></li>
    <li class="next"><a ng-click="next()">Next &rarr;</a></li>
</ul>