<h1>Home</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Resource name</th>
            <th>URL</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="service in services">
            <td><a href="#{{service.url | removeBaseUrl}}">{{service.name}}</a></td>
            <td>{{service.url }}</td>
        </tr>
    </tbody>
</table>