<h1>New Reservation</h1>

<div ng-controller="ReservationAddNew">

    <form class="form-horizontal" role="form" novalidate>
        <div class="form-group">
            <label class="col-sm-2 control-label">Seats</label>
            <div class="col-sm-10">
                <input type="text" class="form-control"  ng-model="reservation.seats">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Flight ID</label>
            <div class="col-sm-10">
                <input type="text" class="form-control"  ng-model="reservation.flightId">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" ng-click="save(reservation)">Save</button>
            </div>
        </div>
    </form>

</div>