<h1>Reservation List</h1>

<a href="#/reservation/add-new" class="btn btn-primary">Add new</a>

<br>

<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Seats</th>
        <th>Password</th>
        <th>Created</th>
        <th>State</th>
        <th>Flight ID</th>
        <th>URI</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="reservation in reservations">
            <td>{{reservation.id}}</td>
            <td>{{reservation.seats}}</td>
            <td>{{reservation.password}}</td>
            <td>{{reservation.created}}</td>
            <td>{{reservation.state}}</td>
            <td>{{reservation.flightId}}</td>
            <td>{{reservation.uri}}</td>
            <td>
                <a class="btn btn-primary btn-xs" ng-click="cancel(reservation.id)">Cancel</a>
                <a ng-if="reservation.state != 'paid'" class="btn btn-success btn-xs" ng-click="pay(reservation.id)">Pay</a>
                <a ng-if="reservation.state == 'paid'" class="btn btn-warning btn-xs" ng-click="ticket(reservation.id)">Ticket</a>
                <a ng-if="reservation.state == 'paid'" class="btn btn-warning btn-xs" ng-click="email(reservation.id)">Send to email</a>
                <a class="btn btn-danger btn-xs" ng-click="remove(reservation.id)">Remove</a>
            </td>
        </tr>
    </tbody>
</table>
