<h1>Reservation Detail</h1>

<a class="btn btn-primary" ng-click="show(reservation.id)">Show</a>

<br>

<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Seats</th>
        <th>Password</th>
        <th>Created</th>
        <th>State</th>
        <th>Flight ID</th>
        <th>URI</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{reservation.id}}</td>
            <td>{{reservation.seats}}</td>
            <td>{{reservation.password}}</td>
            <td>{{reservation.created}}</td>
            <td>{{reservation.state}}</td>
            <td>{{reservation.flightId}}</td>
            <td>{{reservation.uri}}</td>
        </tr>
    </tbody>
</table>
